<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Администратор: добавить рейс</title>
    <link rel="icon" href="/static/img/bus.png">
</head>
<body>
<header th:insert="blocks/header.html :: header">
</header>
<main>
<div>
    <h1>Добавить рейс:</h1>
</div>
    <div>
        <form action="/administrations/add_flight" method="post">
            <input placeholder="Из города" type="text" name="fromCity"/>
            <input placeholder="В город" type="text" name="toCity"/>
            <input placeholder="Время отправления" type="text" name="timeDeparture"/>
            <input placeholder="Время прибытия" type="text" name="timeArrival"/>
            <input placeholder="Дата рейса:" type="text" name="dateFlight"/>
            <select multiple name="busModel">
                <option th:each="el :${buses}" th:text="${el.busModel}" name="busModel"/>
            </select>
            <select multiple name="id">
                <option th:each="el : ${drivers}" th:text="${el.driverSurname}" name="id"/>
            </select>
            <select multiple name="idType">
                <option th:each="el : ${type}" th:text="${el.typeOfFlight}" name="id"/>
            </select>

                <input type="hidden" name="_csrf" value="{{_csrf.token}}}"/>
            <button type="submit">Добавить рейс</button>
        </form>


    </div>
</main>

<script type="text/javascript" src="/static/js/materialize.min.js"></script>
<footer th:insert="blocks/footer.html :: footer">
</footer>
</body>

</html>