<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add flight:</title>
</head>
<body>
<div>
    <h1>Добавить рейс:</h1>
</div>
    <div>
        <form action="/administrations/add_flight" method="post">
            <input placeholder="Из города" type="text" name="fromCity"/>
            <input placeholder="В город" type="text" name="toCity"/>
            <input placeholder="Время отправления" type="text" name="timeDeparture"/>
            <input placeholder="Время прибытия" type="text" name="timeArrival"/>
            <input placeholder="Дата рейса:" type="text" name="dateFlight"/>
            <select name="busModel">
                <option th:each="el :${buses}" th:text="${el.busModel}" name="busModel"/>
            </select>
            <select name="id">
                <option th:each="el : ${drivers}" th:text="${el.id}" name="id"/>
            </select>

                <input type="hidden" name="_csrf" value="{{_csrf.token}}}"/>
            <button type="submit">Добавить рейс</button>
        </form>


    </div>

</body>
</html>