<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Администратор: добавить автобус</title>
</head>
<body>
<div>
    <h1>Добавить автобус:</h1>
</div>
<div>
    <form action="/administrations/add_typeBus" method="post">
        <input placeholder="Тип автобуса:" type="text" name="type">
        <input placeholder="Количество мест:" type="text" name="numberOfSeats">
        <input placeholder="Модель автобуса:" type="text" name="busModel">
            <input type="hidden" name="_csrf" value="{{_csrf.token}}">
        <button type="submit">Добавить тип автобуса</button>
    </form>
</div>
</body>
</html>