<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Администратор: главная</title>
    <link rel="icon" href="/static/img/bus.png">
</head>
<body>
<header th:insert="blocks/header.html :: header">
</header>
<main>
    <div class="row">
        <div class="col s3">
            <div th:insert="blocks/menu.html :: menu"></div>
        </div>
        <div class="col s9">
            <br><br><br>
            <ul class="collection with-header">
                <li class="collection-header"><h4>Водители:</h4></li>
            </ul>
            <table>
                <thead>
                <tr>
                    <th>Фамилия:</th>
                    <th>Имя:</th>
                    <th>Номер телефона:</th>
                    <th>Рейсы:</th>
                    <th>Редактировать:</th>
                    <th>Удалить:</th>
                </tr>
                </thead>

                <tbody>
                <tr th:each="el : ${busDriver}">
                    <td th:text="${el.driverSurname}"/>
                    <td th:text="${el.driverName}">
                    <td th:text="${el.driverPhone}"/>
                    <td>
                        <a th:href="'/administrations/administrator/driver/' + ${el.id} + '/get_flights'" class="waves-effect waves-light btn">Рейсы</a>
                    </td>
                    <td>
                        <a th:href="'/administrations/administrator/busDriver/' + ${el.id} + '/edit'" class="waves-effect waves-light btn">Редактировать</a>
                    </td>
                    <td>
                        <a th:href="'/administrations/administrator/busDriver/' + ${el.id} + '/del'" class="waves-effect waves-light btn">Удалить</a>
                    </td>
                </tr>
                </tbody>
            </table>
            <br><br>
            <a href="/administrations/administrator/busDriver/add_driver" class="waves-effect waves-light btn">Добавить водителя</a>
        </div>

    </div>
</main>
<script type="text/javascript" src="/static/js/materialize.min.js"></script>
<footer th:insert="blocks/footer.html :: footer" >
</footer>
</body>
</html>