<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Администратор: главная</title>
    <link rel="icon" href="/static/img/bus.png">
</head>
<body>
<header th:insert="blocks/header.html :: header">
</header>
<main>
    <div class="row">

        <div class="col s3">
            <h4>Доступные разделы:</h4>
            <div class="collection">
                <a href="/administrations/administrator/flights" class="collection-item"><span class="badge"></span>Рейсы</a>
                <a href="/administrations/administrator/drivers" class="collection-item"><span class="badge"></span>Водители</a>
                <a href="/administrations/administrator/passengers" class="collection-item"><span class="badge"></span>Пасажиры</a>
                <a href="/administrations/administrator/buses" class="collection-item"><span class="badge"></span>Автобусы</a>
                <a href="/administrations/administrator/buses" class="collection-item"><span class="badge"></span>Типы автобусов</a>
                <a href="/administrations/administrator/buses" class="collection-item"><span class="badge"></span>Билеты</a>
            </div>
        </div>

        <div class="col s9">
            <br><br><br>
            <ul class="collection with-header">
                <li class="collection-header"><h4>Автобусные рейсы:</h4></li>
            </ul>
            <table>
                <thead>
                <tr>
                    <th>Тип маршрута:</th>
                    <th>Пункт отправления:</th>
                    <th>Пункт назначения:</th>
                    <th>Дата:</th>
                    <th>Подробнее:</th>
                    <th>Редактировать:</th>
                </tr>
                </thead>

                <tbody>
                <tr th:each="el : ${flights}">
                    <td th:text="${el.routeType}"/>
                    <td th:text="${el.fromCity}">
                    <td th:text="${el.toCity}"/>
                    <td th:text="${el.dateFlight}"/>
                    <td>
                        <a th:href="'/flight/' + ${el.id}" class="waves-effect waves-light btn">Подробнее</a>
                    </td>
                    <td>
                        <a th:href="'/administrations/flight/' + ${el.id} + '/edit'"
                           class="waves-effect waves-light btn">Редактировать</a>
                    </td>
                </tr>
                </tbody>
            </table>
            <br><br>
            <a href="/administrations/add_flight" class="waves-effect waves-light btn">Добавить рейс</a>
        </div>

    </div>
</main>
<script type="text/javascript" src="/static/js/materialize.min.js"></script>
<footer th:insert="blocks/footer.html :: footer">
</footer>
</body>
</html>