<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Администратор: пользователи</title>
    <link rel="icon" href="/static/img/bus.png">
</head>
<body>
<header th:insert="blocks/header.html :: header">
</header>
<main>
    <div class="row">

        <div class="col s3">
            <div th:insert="blocks/menu.html :: menu"></div>
        </div>
        <div class="col s9">
            <br><br><br>
            <ul class="collection with-header">
                <li class="collection-header"><h4>Пользователи:</h4></li>
            </ul>
            <table>
                <thead>
                <tr>
                    <th>Login:</th>
                    <th>Фамилия:</th>
                    <th>Имя:</th>
                    <th>Номер телефона:</th>
                    <th>E-mail:</th>
                    <th>Роль:</th>
                    <th>Редактировать:</th>
                    <th>Удалить</th>
                </tr>
                </thead>

                <tbody>
                <tr th:each="el : ${user}">
                    <td th:text="${el.login}"/>
                    <td th:text="${el.userSurname}"/>
                    <td th:text="${el.userName}"/>
                    <td th:text="${el.userPhone}"/>
                    <td th:text="${el.userEmail}"/>
                    <th th:text="${el.getRoles()}"/>
                    <th>
                        <a th:href="'/administrations/administrator/users/' + ${el.login} + '/edit'" class="waves-effect waves-light btn">Редактировать</a>
                    </th>
                    <th>
                        <a th:href="'/administrations/administrator/users/' + ${el.login} + '/del'" class="waves-effect waves-light btn">Удалить</a>
                    </th>
                </tr>
                </tbody>
            </table>
            <br><br>
            <a href="/administrations/administrator/add_user" class="waves-effect waves-light btn">Добавить пользователя</a>
        </div>

    </div>
</main>
<script type="text/javascript" src="/static/js/materialize.min.js"></script>
<footer th:insert="blocks/footer.html :: footer">
</footer>
</body>
</html>