<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Администратор: изменить рейс</title>
    <link rel="icon" href="/static/img/bus.png">
</head>
<body>
<header th:insert="blocks/header.html :: header">
</header>
<main>
    <div class="container">
        <div class="row">
            <div class="col s12" th:each="el : ${flight}">
                <h5>Редактировать рейс:</h5>
                <form th:action="'/administrations/administrator/flight/' + ${el.id} + '/edit'" method="post">
                    <input type="text" name="fromCity" th:value="${el.fromCity}">
                    <input type="text" name="toCity" th:value="${el.toCity}">
                    <input type="text" name="timeDeparture" th:value="${el.timeDeparture}">
                    <input type="text" name="timeArrival" th:value="${el.timeArrival}">
                    <input type="text" name="dateFlight" th:value="${el.dateFlight}">
                    <label>Автобус:</label>
                    <select name="busModel">
                        <option th:each="bus :${buses}" th:text="${bus.busModel}" name="busModel"></option>
                    </select>
                    <label>Водитель:</label>
                    <select name="driverSurname">
                        <option th:each="driver : ${drivers}" th:text="${driver.driverSurname}" name="driverSurname"></option>
                    </select>
                    <label>Тип рейса:</label>
                    <select name="typeOfFlight">
                        <option th:each="flightType: ${type}" th:text="${flightType.typeOfFlight}" name="typeOfFlight"></option>
                    </select>
                    <input type="hidden" name="_csrf" value="{{_csrf.token}}}"/>
                    <button  class="waves-effect waves-light btn" type="submit">Изменить рейс</button>
                </form>
                <div>
                    <br>
                    <h6 class="red-text" th:if="${error}" th:text="${error}"></h6>
                </div>
                <br>
                <a type="submit" class="waves-effect waves-light btn" th:href="'/administrations/administrator/flight/' + ${el.id} + '/del'">Удалить рейс</a>
            </div>
        </div>
    </div>

</main>
<script type="text/javascript" src="/static/js/index.js"></script>
<script type="text/javascript" src="/static/js/materialize.min.js"></script>
<footer th:insert="blocks/footer.html :: footer">
</footer>
</body>

</html>