<div th:fragment="menu" xmlns:th="http://www.w3.org/1999/xhtml">
    <h4>Доступные разделы:</h4>
    <div class="collection">
        <a href="/administrations/administrator/users" class="collection-item"><span class="badge"></span>Пользователи</a>
        <a href="/administrations/administrator/flights" class="collection-item"><span class="badge"></span>Рейсы</a>
        <a href="/administrations/administrator/busDriver" class="collection-item"><span class="badge"></span>Водители</a>
        <a href="/administrations/administrator/passengers" class="collection-item"><span class="badge"></span>Пасажиры</a>
        <a href="/administrations/administrator/buses" class="collection-item"><span class="badge"></span>Автобусы</a>
        <a href="/administrations/administrator/type_flights" class="collection-item"><span class="badge"></span>Типы рейсов</a>
        <a href="/logout" class="collection-item"><span class="badge"></span>Покинуть учетную запись</a>
    </div>
</div>